.layout {
  background-color: #1a1a1a;
}

.chakra-text,
.chakra-heading,
.chakra-button,
td,
li {
  color: white;
}

a.chakra-link:hover,
a.chakra-breadcrumb__link:hover,
span.chakra-breadcrumb__link:hover {
  text-decoration: none;
}
