.chakra-text,
.chakra-heading,
button.chakra-button,
a.chakra-link,
label.chakra-form__label,
div.chakra-form__helper-text,
input.chakra-input,
textarea.chakra-textarea,
td,
li {
  color: white;
}

a.chakra-link:hover,
a.chakra-breadcrumb__link:hover,
span.chakra-breadcrumb__link:hover {
  text-decoration: none;
  background: "none";
}
